* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v264_944 {
  width: 818px;
  height: 560px;
  background: url("../images/v264_944.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v264_945 {
  width: 818px;
  height: 560px;
  background: rgba(19,92,161,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}
.v264_946 {
  width: 818px;
  height: 560px;
  background: url("../images/v264_946.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}
